@font-face {
    font-family: 'gora_freeregular';
    src: url('../fonts/gora-free-webfont.woff2') format('woff2'),
         url('../fonts/gora-free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiasing;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-weight: 400;
}

.wrapper { /*updated*/
    position: relative;
    min-height: 100%;
    overflow: hidden;
    min-width: 1140px;
}

/* .wrapper:after { 
    content: "";
    display: block;
    height: 79px;
} */

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.clearfix:after{
    content:"";
    display: block;
    clear:both;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
}

.hidden {
    visibility: hidden;
}


/*------------------------HEADER--------------------------*/




.header {
    background: #131415;
    color: #ffffff;
}

.header--logo, .nav, .nav__item, .info {
    display: inline-block;
} 

.header--logo {
    padding-top: 29px;
    padding-bottom: 27px;
    padding-left: 20px;
    width: 358px;
}
.logo {
    font-family: 'gora_freeregular', 'Times New Roman', Times, serif;
    font-size: 18px;
    letter-spacing: 2px;
    color: #f89513;
    text-decoration: none;
} 

.nav__text {
    font-weight: 700;
	font-size: 12px;
    color: #ffffff;
    letter-spacing: 1.8px;
	text-decoration: none;
    margin: 0 auto;
    display: inline-block;
    transition: all 0.2s;
    vertical-align: middle;
}

.nav__icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    transition: all 0.2s;
    vertical-align: middle;
    padding-right: 14px;
    padding-top:2px;
}

.nav__item {
    padding-right: 22px;
}

.nav__icon--main {
    background: url('../img/icons/main-icon.png') no-repeat;
    background-size: contain;
    height: 12px;
    padding-right: 20px;
}

.nav__link:hover .nav__icon--main {
    background: url('../img/icons/main_icon_2.png') no-repeat;
    background-size: contain;
    height: 12px;
    padding-right: 20px;
}

.nav__icon--active-main {
    background: url('../img/icons/main_icon_2.png') no-repeat;
    background-size: contain;
    height: 12px;
    padding-right: 20px;
}

.nav__active-text {
    color: #f89513;  
}

.nav__icon--feeds {
    background: url('../img/icons/feed-icon.png') no-repeat;
    background-size: contain;
    width: 18px;
    height: 16px;
}

.nav__link:hover .nav__icon--feeds {
    background: url('../img/icons/feed_icon_2.png') no-repeat;
    background-size: contain;
    width: 18px;
    height: 16px;
}

.nav__icon--services {
    background: url('../img/icons/service-icon.png') no-repeat;
    background-size: contain;
    width: 15px;
    height: 11px;
}

.nav__link:hover .nav__icon--services {
    background: url('../img/icons/service_icon_2.png') no-repeat;
    background-size: contain;
    width: 15px;
    height: 11px;
}

.nav__link:hover .nav__text {
    color: #f89513;
}

.info {
    font-family: 'open_sansbold';
	float: right;
	text-align: right;
	padding-right: 20px;
	padding-top: 17px;
}
.info__phone {
	font-size: 21px;
	color: #ffffff;
	text-decoration: none;
}

.info__schedule {
    font-size: 14px;
	display: block;
	color: rgba(248, 149, 19, 0.7);
	padding-top: 2px;
    text-decoration: underline;
    cursor: pointer;
}



/*-----------------------PROMOTION------------------------*/

.promotion .container {
    padding-top: 78px;
    padding-bottom: 17px;
}
.promotion__image {
    margin: 0 auto;
    width: 740px;
    height: 486px;
    background-size: cover;
    overflow: hidden;
    
}

/*-----------------------FEATURES-------------------------*/
.features {
	background: #131415;
	color: white;
	height: 570px;
	text-align: center;
}
.title {
    font-family: 'open_sansbold', 'Times New Roman', Times, serif;
	font-size: 49px;
	letter-spacing: 1.5px;
	font-weight: 900;
	line-height: 3.4;
	text-transform: uppercase;
    margin-left: 11px;
    margin-bottom: 0px;
}
.features__column, .features__list {
	padding: 0;
	margin: 0;
}
.features__column {
	list-style: none;
	margin: 0 auto;
	margin-left: 170px;

}
.features__column-list {
	width: 220px;
	float: left;
}
.features__column-list--middle {
	padding-left: 52px;
	padding-right: 52px;

}
.features__image {
	width: 68px;
	height: 68px;
	border-radius: 50%;
	margin: 0 auto;
}
.features__image--unique {
	background: url('../img/icons/flower.png') center no-repeat #f89513; 
}

.features__image--premium-class {
	background: url('../img/icons/mark-as-favorite-star.png') center no-repeat #f89513; 
}

.features__image--personal-trainer {
	background: url('../img/icons/painter-palette.png') center no-repeat #f89513; 
}
.features__title {
	margin-top: 40px;
	font-weight: 900;
	font-size: 10.78px;
	letter-spacing: 3px;
	margin-left: 6px;
}
.features__description {
	margin-top: 20px;
	font-size: 16px;
	margin-left: 4px;
	letter-spacing: 1px;
	line-height: 2;
}
.features__list {
    list-style: disc;
    margin-left: 30px;
}
.features__item {
    font-size: 16px;
    text-align: left;
    line-height: 2.2;
    letter-spacing: 1.3px;
    text-align: left;
    padding-left: 10px;
    list-style: disc;
}


/*--------------------------NEWS--------------------------*/

.news__title {
    font-size: 'open_sansbold';
    font-size: 49px;
	letter-spacing: 2.6px;
	text-align: center;
    margin-top: 58px;
    padding-bottom: 30px;
}

.news__list {
	list-style: none;
	display: inline-block;
	padding-left: 0;
	float: left;
	margin-top: 2px;
    margin-left: 2px;
}


.news__list-item:not(:last-child) {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 20px;
    padding-bottom: 33px;
}

.new__list-item:last-child {
    padding-top: 33px;
}

/* .news__list-item:last-child {
	border: none;
} */

.news__item-wrap {
	display: inline-block;
}
.news__item-wrap--image {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	background-size: cover;
	overflow: hidden;
	margin-left: 20px;
}
.news__content {
	width: 650px;
    padding-left: 15px;
    display: inline-block;
}
.news__content--date { 
	color: #656464;
	font-size: 14px;
	font-size: 'robotolight';
	line-height: 1px;
}
.news__content--title {
	font-size: 16px;
	font-family: 'robotobold';
	letter-spacing: 1.17px;
}
.news__content--text {
	font-size: 18px;
	color: #656464;
	line-height: 1.6;
	text-align: left;
	font-size: 'robotolight';
    margin-top: 16px;
}

/*-------------------------NEWS---------------------------*/
/*--------------------------------------------------------*/
/*------------------------SIDEBAR-------------------------*/

.sidebar {
	width: 190px;
	text-align: left;
	float: right;
}

.sidebar__title {
	font-weight: 600;
	letter-spacing: 2.3px;
	font-size: 12px;
	/* line-height: 2; */
	color: black;
    margin-left: 13px;
    margin-bottom: 9px;
}

.sidebar__period {
	color: #7a7979;
	font-weight: 600;
	letter-spacing: 2.2px;
	font-size: 12px;
	margin-bottom: 22px;
	margin-left: 13px;
}

.sidebar__images {
	width: 160px;
	text-align: center;
    text-decoration: none;
    margin-left: 12px;
}

.sidebar__image-container {
	overflow: hidden;
	margin: 0 0 20px 0;
}

.sidebar__image-container--first {
    height: 120px;

}

.sidebar__image-container--second {
    height: 160px; 
}

.sidebar__image-container--third {
    height: 160px;
}

.sidebar__image {
    display: inline;
}

/*-----------------------SIDEBAR--------------------------*/
/*--------------------------------------------------------*/
/*----------------------PAGINATION------------------------*/


.pagination {
    font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #656464;
	margin-left: 376px;
	margin-top: 69px;
	margin-bottom: 67px;
    
}

.pagination__block, .pagination__item, .pagination__btn, .pagination__list {
    display: inline-block;
    padding-left: 5px;
}

.pagination__list {
    padding-left: 9px;
}

.pagination__item {
    padding-left: 0px;
}

.pagination__link, .pagination__btn {
	width: 21px;
    height: 25px;
    display: block;
	font-weight: 700;
	font-family: 'OpenSans', Arial, Helvetica, sans-serif;
	color: #221f1f;
	text-align: center;
	text-decoration: none;
	line-height: 25px;
}

.pagination__btn {
    display: inline-block;
}

.pagination__link--current {
	background: #27273e;
	border-radius: 2px;
    color: white;
    width: 25px;
}
.pagination__link:hover, .pagination__btn:hover {
	color: #f89513;
}

.pagination__link--disabled {
	color: rgba(39, 39, 62, 0.3);
}

.pagination__link--disabled:hover {
    color: rgba(39, 39, 62, 0.3);
}

/*--------------------FOOTER------------------------*/

.footer {
	background: #131415;
	min-height: 78px;
	width: 100%;
	min-width: 1100px;
	overflow: hidden;
}
.socials {
	float: right;
	width: 30%;
	line-height: 10px;
	text-align: right;
	letter-spacing: .6px;
	margin-top: 20px;
	margin-right: 22px;
}
.socials__item	 {
	margin-left: 5px;
}
.socials__list {
	width: 300px;
}

.footer--logo {
	width: 30%;
	float: left;
	text-align: center;
    margin-left: 35px;
    padding-left: 2px;
    padding-top:27px;
}
.copyright {
	font-weight: 300;
	color: #ffffff;
	float: left;
	width: 30%;
	padding: 11px 0 0 20px;
	line-height: 1.3;
	font-family: 'open_sanslight';
}
.copyright, .socials, .socials__item {
	display: inline-block;
	font-size: 14px;
}
.copyright__author {
	font-family: 'open_sansbold';
}
.copyright__loft {
	color: white;
	font-family: 'open_sansbold';
}
.link {
    font-family: 'open_sanslight';
    font-weight: 700;
    color: #ffffff;
}
.link:hover {
	color: #999999;
}
.link:visited {
	color: #ffffff;
}

.socials__title {
	font-weight: 700;
	color: #ffffff;
}

.socials__btn {
	display: inline-block;
	height: 20px;
	width: 20px; 
	margin-top: 10px; 
}
.socials__list {
	margin-right: 34px;
}

.socials__btn:hover {
	background-color: #f89513; 
}
.socials__btn--vk {
	background: url('../img/social/vk.png')  center no-repeat #d0d0d0;
	border-radius: 50%;   
}
.socials__btn--fb {
	background: url('../img/social/fb.png') center  no-repeat #d0d0d0;
	border-radius: 50%;
}

.socials__btn--google {
	background: url('../img/social/google.png') center no-repeat #d0d0d0;
	border-radius: 50%;
}
.socials__btn--twitter {
	background: url('../img/social/twitter.png') center no-repeat #d0d0d0;
	border-radius: 50%;
}
.socials__btn--mail {
	background: url('../img/social/mail.png') center no-repeat #d0d0d0;
	border-radius: 50%;
}