@keyframes popup-hide {
    0% {
        opacity: 1;
        top: 20px;
    }    

    90% {
        opacity: 0;
        top: 20px;
    }

    100% {
        top: -2000px;
    }
}

@-webkit-keyframes popup-hide {
    0% {
        opacity: 1;
        top: 20px;
    }    

    90% {
        opacity: 0;
        top: 20px;
    }

    100% {
        top: -2000px;
    }
}

@keyframes popup-show {
    0% {
        opacity: 0;
        top: 20px;
    }

   
    10% {
        opacity: 0;
    }

    100% {
        
        opacity: 1;
    }
    
}

@-webkit-keyframes popup-show {
    0% {
        opacity: 0;
        top: 20px;
    }

   
    10% {
        opacity: 0;
    }

    100% {
        
        opacity: 1;
    }
    
}

@keyframes bounce-in {
    
    0% {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      transform: scale3d(.9, .9, .9);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      transform: scale3d(.97, .97, .97);
    }
  
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

@-webkit-keyframes bounce-in {
    
    0% {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      transform: scale3d(.9, .9, .9);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      transform: scale3d(.97, .97, .97);
    }
  
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }