.info__popup::before {
    content: "";
    display: block;
    height: 20px;
    top: -20px;
    right: 0;
    left: 0;
    position: absolute;
}
.info__popup::after {
    content: "";
    border: 12px solid transparent; 
    border-bottom: 12px solid white; 
    display: block;
    top: -22px;
    right: 3px;
    position: absolute;
}

.info__schedule:hover .info__popup {
    right: -2px;
}