.breadcrumps__list {
	margin-top: 42px;
	margin-left: 114px;
}
.breadcrumps__item {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
}
.breadcrumps__item:after {
	content: '/';
	display: inline-block;
	color: #666464;
	opacity: .8;
	font-family: 'open_sanslight_italic';
}
.breadcrumps__item:last-child:after {
	display: none;
}
.breadcrumps__link {
	font-family: 'open_sanslight_italic';
	color: #f9aa42;
}
.breadcrumps__link--active {
	text-decoration: none;
	color: #666464;
}