.breadcrumps__list {
	margin-top: 42px;
	margin-left: 114px;
}
.breadcrumps__item {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
}
.breadcrumps__item:after {
	content: '/';
	display: inline-block;
	color: #666464;
	opacity: .8;
	font-family: 'open_sanslight_italic';
}
.breadcrumps__item:last-child:after {
	display: none;
}
.breadcrumps__link {
	font-family: 'open_sanslight_italic';
	color: #f9aa42;
}
.breadcrumps__link--active {
	text-decoration: none;
	color: #666464;
}






.comments__title {
	font-size: 49px;
	font-family: 'open_sansbold';
	margin-top: 18px; 
	margin-left: 110px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
}
.comments__list {
	list-style-type: none;
	margin-left: 111px;
	margin-top: 10px;
}
.comments__item {
	padding-bottom: 27px;
	padding-top: 30px;
	border-bottom: 1px solid #f5f5f5;
}
.comment:last-child {
	border-bottom: none;
}
.comments__avatar {
	width: 160px;
	height: 160px;
	background-size: cover;
	overflow: hidden;
	border-radius: 50%;
	display: inline-block;
}
.comments__avatar--new {
	text-align: center;
}
.comments__avatar--new .comments__avatar--img {
	margin-top: 20px;
	margin-left: 10px;
}
.comments__content {
	width: 700px;
	display: inline-block;
	vertical-align: top;
	margin-left: 18px;
}
.comments__date {
	font-size: 14px;
	font-family: 'open_sanslight';
	color: #656464;
	line-height: .8;
}
.comments__name {
	font-size: 18px;
	font-family: 'open_sansbold';
	line-height: 2.1;
}
.comments__text {
	font-size: 18px;
	font-family: 'open_sanslight';
	color: #3f3d3d;
	line-height: 1.7;
}

.advertisement {
	background: #131415;
	text-align: left;
	color: white;
	background-image: url(../../img/promotion/Group1.png);
	margin-bottom: 60px;
	display: block;
}
.advertisement__form {
	padding: 22px 218px 30px 218px;
	font-size: 18px;
	font-family: 'open_sanslight';
	line-height: 1.7;
}
.advertisement__form--strong {
	color: #e98c13;
	font-family: 'open_sansbold';
}


.form__comments {
	border-radius: 3px;
	max-width: 700px;
	min-height: 430px;
	background: #f5f5f5;
	margin: 0 auto;
	margin-bottom: 60px;
	position: relative;
	font-family: 'open_sanslight';
}
.form__title {
	font-size: 49px;
	font-family: 'open_sansbold';
	padding-top: 42px;
    padding-left: 68px;
    margin-bottom: 0px;
}
.form__input {
	display: inline-block;
	margin-top: 16px;
}
.form__input:last-child {
	margin-left: 17px;
}
.form__inputs {
	padding-left: 68px;
	margin-bottom: 18px;
}
.form__textarea {
	padding-left: 69px;
}
.form__input--signature {
	display: block;
	color: black;
	font-weight: 600;
	color: #3f3d3d;
	margin-bottom: 8px;
}
.form__input--field {
	width: 270px;
	height: 45px;
	border: none;
	border-radius: 3px;
	outline: 0;
	padding-left: 12px;
	box-sizing: border-box;
}
.form__input--field:focus, .form__input--message:focus {
	border: 1px solid #f89513;
	box-sizing: border-box;
}
.form__input--message {
	width: 560px;
	height: 90px;
	border-radius: 3px;
	border: none;
	box-sizing: border-box;
	outline: none;
	padding-left: 10px;
	padding-top: 6px;
	letter-spacing: .3px;
	resize: none;
}
.form__radiobutton {
	display: block;
	padding-left: 70px;
}
.radiobutton__radio {
	display: inline-block;
}
.radiobutton__button {
	display: inline-block;
	position: absolute;
	right: 71px;
	bottom: 49px; 
}
.radiobutton__radio--label {
	margin-bottom: 8px;
}
.radio {
	width: 20px;
	height: 20px;
	color: red;
	background: red;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
	cursor: pointer;
	opacity: 0;
	position: absolute;
}
.label--radio {
	cursor: pointer;
	display: inline-block;
}
.label--radio:last-child {
	margin-left: 18px;
}
.radio__text {
	display: inline-block;
	vertical-align: 4px;
}
.radio:checked + .radio__styles {
	background: url(../../img/icons/checked.png) no-repeat;
}
.radio__styles {
	background: url(../../img/icons/unchecked.png)no-repeat;
	display: inline-block;
	z-index: 999;
	width: 20px;
	height: 20px;
	padding-left: 4px;
}
.button {
	width: 125px;
	height: 45px;
	color: white;
	background: #1c1f1d;
	border: none;
	border-radius: 3px;
	font-size: 12px;
	font-family: 'open_sansbold';
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.button:hover {
	background: #f89513;
} 