.features {
	background: #131415;
	color: white;
	height: 570px;
	text-align: center;
}
.title {
    font-family: 'open_sansbold', 'Times New Roman', Times, serif;
	font-size: 49px;
	letter-spacing: 1.5px;
	font-weight: 900;
	line-height: 3.4;
	text-transform: uppercase;
    margin-left: 11px;
    margin-bottom: 0px;
}
.features__column, .features__list {
	padding: 0;
	margin: 0;
}
.features__column {
	list-style: none;
	margin: 0 auto;
	margin-left: 170px;

}
.features__column-list {
	width: 220px;
	float: left;
}
.features__column-list--middle {
	padding-left: 52px;
	padding-right: 52px;

}
.features__image {
	width: 68px;
	height: 68px;
	border-radius: 50%;
	margin: 0 auto;
}
.features__image--unique {
	background: url('../../img/icons/flower.png') center no-repeat #f89513; 
}

.features__image--premium-class {
	background: url('../../img/icons/mark-as-favorite-star.png') center no-repeat #f89513; 
}

.features__image--personal-trainer {
	background: url('../../img/icons/painter-palette.png') center no-repeat #f89513; 
}
.features__title {
	margin-top: 40px;
	font-weight: 900;
	font-size: 10.78px;
	letter-spacing: 3px;
	margin-left: 6px;
}
.features__description {
	margin-top: 20px;
	font-size: 16px;
	margin-left: 4px;
	letter-spacing: 1px;
	line-height: 2;
}
.features__list {
    list-style: disc;
    margin-left: 30px;
}
.features__item {
    font-size: 16px;
    text-align: left;
    line-height: 2.2;
    letter-spacing: 1.3px;
    text-align: left;
    padding-left: 10px;
    list-style: disc;
}